//
// Web fonts
// --------------------------------------------------

@font-face {
	font-family: 'testFont';
	src:url('');
	src:url('') format('embedded-opentype'),
		url('') format('truetype'),
		url('') format('woff'),
		url('') format('svg');
	font-weight: normal;
	font-style: normal;
}
